a:visited {
	text-decoration: none;
	color: white;
}
a:active {
	text-decoration: none;
	color: white;
}


body { 
	background: #E5E3E0 !important;
}

/*****************************
	   setting the nav 
******************************/
.inline {
	display: inline-block;
	list-style-type: none;
}

.nav-setter {
	position: relative;
}

nav {
	position: absolute;
	top: 8px;
	width: 100%;
	color: white;
	font-size: 20px;
}

/******************************
  position the video & others
******************************/
.positioner {
	position: relative;
}

.the-header {
	position: absolute;
	top: -350px;
	color: white;
}

/* need to change the font size of the header*/
h1 {
	font-size: 45px;
}

.hero-vid {
     right: 0;
     position: absolute;
     top: 0;
     width: 100%;
     background: url(hero-vid.mp4) no-repeat;
/*     max-height:500px;
*/     max-height: 100%;
}

.the-vid {
	min-width: 100%;
/* 	max-height: 600px;
*/}

.how-it-works-button {
	position: absolute;
	top: -320px;
}

/******************************
  	Brand Page
******************************/

/******************************
  	Company Title
******************************/
.company-title {
	position: relative;
}

.h-position {
	position: absolute;
	top: 40px;
}

.message {
	margin-top: 5px;
}

.factory-logo {
	height: 150px;
	width: 140px;
	position: absolute;
	top: 30px;
}


/******************************
	   social proof 
******************************/

.social-proof {
	height: 90px;
	width: 100px;
	border-radius: 90px;
}

.review-parent {
	width: 400px;
}

.review-photo {
	width: 30%;
	float: left;
}

.review-paragraph {
	width: 60%;
	float: right;
}

.social-proof-text {
	font-size: 14px;
	background-color: white;
	padding: 4px;
	border-radius: 14px;
}

.social-proof-position {
	position: absolute;
	top: 20px;
	left: 35px;
}

.social-name-position {
	position: absolute;
	top: 120px;
}

.border-bottom {
	border-top: 1px solid gray;
	padding-bottom: 20px;

}

.social-name {
	font-weight: bold;
}

/******************************
	   factory
*****************************/

.factory-pages {
	position: absolute;
	top: 105px;
	margin-top: 15px;
	left: 50px;
/*	border: 1px black solid;
*/}

.factory-image {
	height: 600px;
	width: 650px;
}

.factory-pages-border {
	position: absolute;
	top: 105px;
	margin-top: 5px;
}

/******************************
	   How it works
*****************************/

.how-it-works {
	position: absolute;
	top: 150px;
}

.how-it-works-border {
	border-top: 1px solid gray;
	padding-bottom:5px;
	margin-bottom: 5px;
	position: absolute;
	top: 156px;
}

.how-it-works-h4 {
	padding-bottom:10px;
	margin-bottom: 10px;
	position: absolute;
	top: 155px;
	left: 35px;
}

.buttons-position {
	left: 45px;
	position: absolute;
}

.how-it-works-container {
	margin-bottom: 400px;
}

/******************************
	   How it works buttons
*****************************/
.brand-button {
	padding: 15px 35px;
	border: 2px solid #5fcf80;
	margin-right: -5px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	background-color: #5fcf80;
}

.factory-button {
	padding:  15px 35px;
	border: 2px solid #5fcf80;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	font-weight: bold;
	color: #5fcf80;
}

.brand-button:hover {
	text-decoration: none;
	color: white;
}

.brand-button:focus {
	text-decoration: none;
	color: white;
}

.brand-button:visited {
	text-decoration: none;
	color: white;
}

.brand-button:active {
	text-decoration: none;
	color: white;
}

.factory-button:hover {
	text-decoration: none;
	color: #5fcf80;
}

.factory-button:focus {
	text-decoration: none;
	color: #5fcf80;
}

.factory-button:visited {
	text-decoration: none;
	color: #5fcf80;
}

.factory-button:active {
	text-decoration: none;
	color: #5fcf80 !important;
}
/******************************
	   Icons
*****************************/

.how-it-works-icons {
	position: absolute;
	top: 170px;
	font-size: 40px;
	text-align: center;
}

.how-it-works-text {
	position: absolute;
	top: 180px;
	font-size: 16px;
	text-align: center;
}

.factory-display {
	display: none;
	padding-top: 50px;
}
.brand-display {
	padding-top: 50px;
}


/******************************
	   Footer
*****************************/
.footer {
	background: #4F4E4D;
	height: 350px;
}

.footer-dash {
	background: #4F4E4D;
	height: 350px;
	top: 700px;
	position: absolute;
}

.footer-li {
	list-style-type: none;
	color: white;
}

.li-container {
	padding-top: 50px;
}

.first-li {
	font-weight: bold;
	text-decoration: underline;
	padding-bottom: 3px;
	border-bottom: 2px solid #4F4E4D

}

/******************************
	   Brand Profile Page
*****************************/

/******************************
	  Company Title Row
*****************************/
.company-title {
	height: 210px;
	border-bottom: 2px solid #5fcf80;
}

.company-title-inline {
	display: inline-block;
}

.h4-position {
	position: absolute;
	top: 50px;
}

/******************************
	  Info Containers
*****************************/
.about-container {
	height: 120px;
}

.info-container {
	position: absolute;
	bottom: -160px;
/*	border: 1px dashed red;
*/	height: 90px;

}

.info-container-2 {
	height: 90px;
	position: absolute;
	bottom: -270px;
/*	border: 1px dashed red;
*/}

.info-container-3 {
	height: 90px;
	position: absolute;
	bottom: -375px;
/*	border: 1px dashed red;
*/}

.inner-container {
	border-bottom: 2px solid gray;
	height: 90px;

}

.border-div {
	border-top: 1px solid gray;
	position: absolute;
	top: 20px;
}

.border-div-2 {
	border-top: 1px solid gray;
	position: absolute;
	top: 120px;
}

.border-div-3 {
	border-top: 1px solid gray;
	position: absolute;
	top: 210px;
}

.inner-container-2 {
	height: 100px;
	border: 1px dashed red;
}

.outer-container-2 {
	position: absolute;
	bottom: 300px;
}
/******************************
	  Rating
*****************************/
.rating-header {
	position: absolute;
	bottom: -404px;
	height: 20px;
	left: 67px
}

.rating {
	position: absolute;
	bottom: -460px;
	height: 20px;
	left: 67px
}

.inner-container-3 {
	height: 550px;
	border: 1px red dashed;
}

.fa.fa-star {
	color: #DEDE0B;
}

/******************************
	  Review
*****************************/
.input-review {
	position: absolute;
	top: 1300px;
	left: 35px;
	width: 300px;
}

.new-review {
	height: 150px;
	width: 300px;
	border: 1px solid #C7C5C3;
	border-radius: 5px;
	position: absolute;
	top: 420px;
	left: 155px;
	display: none;
	background-color: #F7F5F2;
}

.review-box {
	height: 150px;
	width: 300px;
	background-color: red;
}

.newest-review {
	position: absolute;
	top: 400px;
	left: 150px;
}

.past-reviews {
	position: absolute;
	top: 360px;
	left: 150px;
}

/******************************
	  This must be positioned static/
	  not positioned for new
	  divs to be added
*****************************/
.review-text {
    border: 1px solid #C7C5C3;
	height: 150px;
	width: 350px;
	background: #F2F0ED;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 8px;
}

/******************************
	  Person Profile
*****************************/


.test-position {
	position: relative;
}

.dashboard-header {
	position: absolute;
	top: 100px;
	left: 40px;
}

.top-border {
	position: absolute;
	top: 160px;
	border-bottom: 4px solid #5fcf80;
	width: 100%;
}

.fave-page-container {
	position: absolute;
	top: 200px;
}

.pm-container {
	position: absolute;
	top: 350px;
	left: 28px;
}
.page-box {
	height: 40px;
	width: 200px;
	background-color: #F2F0ED;
	font-size: 20px;
	position: relative;
	border: 1px solid #C7C5C3;
	color: #525453;
	border-radius: 5px;
}

.pm-recipient-box {
	height: 30px;
	width: 200px;
	background-color: #F2F0ED;
	font-size: 20px;
	position: relative;
	border: 1px solid #C7C5C3;
	color: #525453;
	border-radius: 5px;

}
.pm-box {
	height: 100px;
	width: 200px;
	background-color: #F2F0ED;
	color: #525453;
	font-size: 20px;
	position: relative;
	border: 1px solid #C7C5C3;
	border-radius: 5px;
}

#nav-dash {
	color: #55BA73;
}

#dashboard-li {
	color: #55BA73;
}
